.Toolbar {
  background-color: #2c3440;
  margin: 0px;
  font-weight: bold;
  display: flex;
}

.HeaderBox {
  margin: 0px;
  width: 100%;
}

.RightToolBarContainer {
  color: white;
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.LeftToolBarContainer {
  margin-left: 5em;
  font-weight: normal;
}

.AddIcon {
  width: 50%;
  margin: 0.5em;
}
