.AddMovieCheckbox {
  color: white;
  margin-right: 15px !important;
  margin-left: 15px !important;
  margin-bottom: 30px !important;
}

.AddMovieSubmit {
  margin-bottom: 10px;
}

.AddMovieField {
  margin-right: 15px !important;
  margin-left: 15px !important;
  margin-bottom: 15px !important;
}

.SubmitButtonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.AddMovieForm {
  padding: 20px;
}

.AddMovieFormWrapper {
  width: 90% !important;
}

.PageHeader {
  color: white;
  font-weight: bold;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
}

.AddMovieFieldRow {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.RatingSelect {
  width: 6em;
}
