.HomeLineItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-wrap: wrap;
  margin-top: 3%;
}

.HomeLink {
  text-decoration: none;
  color: white;
}

.ConfigText {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  width: 100%;
}
